<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week4</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="bg-header header">
      <div class="container">
        <div class="row justify-content-end ">
          <div class="col-6 header-wrap d-flex flex-column justify-content-center align-items-end">
            <h2 class="text-secondary">Promise-Desert 2020 早春系列</h2>
            <h1 class="text-secondary">看得清，才能看得遠</h1>
            <button type="button" class="bg-primary text-white">立即購買</button>
          </div>
        </div>
      </div>
    </section>
  
    <section class="section-2 bg-pink py-20 py-sm-10">
      <div class="container">
        <h2 class="text-center text-secondary fw-bold fs-48 fs-sm-6 mb-12">用專業的心，做專業的事</h2>
        <div class="row justify-content-between">
          <div class="col-3 col-sm-12 col-md-6">
            <img src="../assets/images/home-section2-1.png" alt="section2-1" class="mx-auto section-2-img mb-6">
            <h3 class="text-center text-secondary fw-bold fs-24 mb-8 ">單一價格</h3>
            <p class="text-center">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </div>
          <div class="col-3 col-sm-12 col-md-6">
            <img src="../assets/images/home-section2-2.png" alt="section2-2" class="mx-auto section-2-img mb-6">
            <h3 class="text-center text-secondary fw-bold fs-24 mb-8">20 分鐘即可取件</h3>
            <p class="text-center">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </div>
          <div class="col-3 col-sm-12 col-md-6">
            <img src="../assets/images/home-section2-3.png" alt="section2-3" class="mx-auto section-2-img mb-6">
            <h3 class="text-center text-secondary fw-bold fs-24 mb-8">安心售後服務</h3>
            <p class="text-center">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </div>
          <div class="col-3 col-sm-12 col-md-6">
            <img src="../assets/images/home-section2-4.png" alt="section2-4" class="mx-auto section-2-img mb-6">
            <h3 class="text-center text-secondary fw-bold fs-24 mb-8">關於鏡片</h3>
            <p class="text-center">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </div>
        </div>
      </div>
    </section>
  
    <section class="section-3 py-20 py-sm-10">
      <div class="container">
        <h2 class="text-center text-secondary fw-bold fs-48 fs-sm-6 mb-12">經典系列鏡框</h2>
        <div class="row justify-content-between">
          <div class="col-4 col-lg-12">
            <img src="../assets/images/home-section3-1.png" alt="section3-1" class="mx-auto">
            <p class="fs-48 text-primary text-center fw-bold">OPTICAL</p>
          </div>
          <div class="col-4 col-lg-12">
            <img src="../assets/images/home-section3-2.png" alt="section3-2" class="mx-auto">
            <p class="fs-48 text-primary text-center fw-bold">SUNGLASSES</p>
          </div>
          <div class="col-4 col-lg-12">
            <img src="../assets/images/home-section3-3.png" alt="section3-3" class="mx-auto">
            <p class="fs-48 text-primary text-center fw-bold">FUNCTIONAL</p>
          </div>
        </div>
      </div>
    </section>
  
    <section class="section-4 bg-section-4 py-20 py-sm-10">
      <div class="container text">
        <h2 class="text-center text-white fw-bold fs-48 fs-sm-6 mb-12">聯名設計鏡框</h2>
        <div class="row">
          <div class="col-6 col-md-12 mx-auto">
            <img src="../assets/images/home-section4-1.png" alt="section4-1" class="d-block d-sm-none">
            <img src="../assets/images/home-section4-1-sm.png" alt="section4-1-sm" class="d-none d-sm-block">
            <p class="fs-48 text-primary text-center bg-white fw-bold">DOUBLE A+</p>
          </div>
          <div class="col-6 col-md-12 mx-auto">
            <img src="../assets/images/home-section4-2.png" alt="section4-1" class="d-block d-sm-none">
            <img src="../assets/images/home-section4-2-sm.png" alt="section4-2-sm" class="d-none d-sm-block">
            <p class="fs-48 text-primary text-center bg-white fw-bold">YOUTH</p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section-5 py-20 py-sm-10">
      <div class="container">
        <h2 class="text-center text-secondary fw-bold fs-48 fs-sm-6 mb-12">顧客推薦</h2>
        <div class="row justify-content-between">
          <div class="col-3 col-sm-12 col-md-6 d-flex flex-column section-5-card">
            <img src="../assets/images/home-section5-1.png" alt="section5-1">
            <div class="p-4 d-flex flex-column h-100">
              <p class="mb-2">Jessy</p>
              <p class="mb-18 flex-grow-1">眼鏡品質優良，下次還會想來這邊購買！</p>
              <time class="fs-14 text-gary">2021/06/20</time>
            </div>
          </div>
          <div class="col-3 col-sm-12 col-md-6 d-flex flex-column section-5-card">
            <img src="../assets/images/home-section5-2.png" alt="section5-1">
            <div class="p-4 d-flex flex-column h-100">
              <p class="mb-2">凱倫</p>
              <p class="mb-18 flex-grow-1">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              <time class="fs-14 text-gary">2021/06/20</time>
            </div>
          </div>
          <div class="col-3 col-sm-12 col-md-6 d-flex flex-column section-5-card">
            <img src="../assets/images/home-section5-3.png" alt="section5-1">
            <div class="p-4 d-flex flex-column h-100">
              <p class="mb-2">悠悠</p>
              <p class="mb-18 flex-grow-1">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              <time class="fs-14 text-gary">2021/06/20</time>
            </div>
          </div>
          <div class="col-3 col-sm-12 col-md-6 d-flex flex-column section-5-card">
            <img src="../assets/images/home-section5-4.png" alt="section5-1">
            <div class="p-4 d-flex flex-column h-100">
              <p class="mb-2">Kyuan</p>
              <p class="mb-18 flex-grow-1">服務很好，品質沒有任何問題，非常喜歡。</p>
              <time class="fs-14 text-gary">2021/06/20</time>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="section-6 bg-pink py-20 py-sm-10">
      <div class="container">
        <h2 class="text-center text-secondary fw-bold fs-48 fs-sm-6 mb-12">聯絡我們</h2>
        <div class="col-6 col-md-10 col-sm-12 mx-auto">
          <p class="fs-20 fs-sm-16 mb-2">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <form>
            <div class="mb-4">
              <label class="d-block mb-2" for="name">
                姓名
              </label>
              <input id="name" class="input-style" type="text" placeholder="陳小明">
            </div>
            <div class="mb-4">
              <label class="d-block mb-2" for="phone" >
                連絡電話
              </label>
              <input id="phone" class="input-style" type="tel" placeholder="0912-345-678">
            </div>
            <div class="mb-4">
              <label class="d-block mb-2" for="email">
                電子郵件
              </label>
              <input id="email" class="input-style" type="email" placeholder="example@gmail.com">
            </div>
            <div class="mb-4">
              <label class="d-block mb-2" for="feedback">
                意見反應
              </label>
              <textarea id="feedback" class="input-style feedback" placeholder="請輸入您的意見"></textarea>
            </div>
            <div class="d-flex mb-3 align-items-start">
              <input class="form-checkbox me-1" type="checkbox" id="form-checkbox" />
              <label for="form-checkbox">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
            </div>
            <a href="#" class="bg-primary index-form-btn d-block text-white py-4 text-center mx-auto"> 
              確認送出
            </a>
          </form>
        </div>
      </div>
    </section>
  

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
