<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網｜經典系列鏡框</title>
  </head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <body>
    <%- include('./layout/header'); -%>

    <div class="container ">
      <div class="row justify-content-between">
        <div class="col-4 product-tabs">
          <p class="text-center py-6 fs-32 ">OPTICAL</p>
        </div>
        <div class="col-4 product-tabs">
          <p class="text-center py-6 fs-32">SUNGLASSES</p>
        </div>
        <div class="col-4 product-tabs">
          <p class="text-center py-6 fs-32">FUNCTIONAL</p>
        </div>
      </div>
    </div>

    <section>
      <div class="container product-header">
        <div class="row">
          <div class="col-6">
            <img src="../assets/images/product-header-1.png" alt="product-header-1" class="d-block d-md-none">
            <img src="../assets/images/product-header-sm-1.png" alt="product-header-1" class="d-none d-md-block">
          </div>
          <div class="col-6">
            <img src="../assets/images/product-header-2.png" alt="product-header-2" class="d-block d-md-none">
            <img src="../assets/images/product-header-sm-2.png" alt="product-header-2" class="d-none d-md-block">
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container my-20 my-md-10">
        <h1 class="mb-8">
          <p class="text-center fs-42">Celluloid Combi</p>
          <p class="text-center fs-32">賽璐珞鈦金屬混合鏡框</p>
        </h1>
        <div class="row justify-content-between">
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-1.png" alt="product-1">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-2.png" alt="product-2">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-3.png" alt="product-3">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-4.png" alt="product-4">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-5.png" alt="product-5">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-6.png" alt="product-6">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-7.png" alt="product-7">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-8.png" alt="product-8">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-9.png" alt="product-9">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-10.png" alt="product-10">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-11.png" alt="product-11">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>          
          <div class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-12.png" alt="product-12">
            <div class="d-flex justify-content-between">
              <p class="">BJ41600S</p>
              <p class="text-primary">NTD3,490</p>
            </div>
            <div class="d-flex mb-20">
              <p class="series-rectangle-1 me-2"></p>
              <p class="series-rectangle-2"></p>
            </div>
          </div>
        </div>
      </div>
    </section>











    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
